version: "2"
services:
  kong:
    restart: on-failure
    image: "mashape/kong:0.8.3"
    container_name: kong
    environment:
      DATABASE: cassandra
    links:
      - kong-database:kong-database
    ports:
      - 8000:8000
      - 8443:8443
      - 8001:8001
      - 7946:7946
      - 7946:7946/udp
    security_opt:
      - label:seccomp:unconfined
    depends_on:
      - kong-database
  kong-database:
    image: "cassandra:2.2"
    container_name: kong-database
    ports:
      - 9042:9042
    volumes:
      - /var/lib/cassandra:/var/lib/cassandra
  kong-dashboard:
    restart: on-failure
    image: "pgbi/kong-dashboard"
    container_name: kong-dashboard
    ports:
      - 8080:8080